body {
    background-color: #2c2c2c;
}


.section_wrapper {
    position: relative;
    top: 5vw;
    margin: 5vw;
}


#hf_wrapper {
    background-color: #01866B;
    padding: 3vw 3vw;
}


#hf_container {
    background-color: #84E3C8;
    padding: 3vw 3vw;
}


#hf_image_container {
    padding: 0.1vw 0vw 150vw 0vw;
    margin-bottom: 4vw;
    background-color: #01866B;

}



#slide_left {
    position: relative;
    top: 70vw;
}


#slide_right {
    position: relative;

}





#slide_left img {
    position: absolute;
    width: 100%;
}


#slide_right img {
    position: absolute;
    width: 100%;
}







figcaption {
    padding: 1vw;
    background: #2c2c2c;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #e8e8e8;
    ;
    margin: 2vw 5vw;
}



#teaterpilot_wrapper {
    position: relative;
    top: 5vw;
    background-color: #1A9BB8;
    padding: 3vw 3vw;
}

#teaterpilot_container {
    background-color: #92DDE5;
    padding: 3vw 3vw;

}

#insta {
    position: relative;
    top: 5vw;
    background-color: #1A9BB8;
    margin-bottom: 5vw;
}







.shown {
    opacity: 100%;
    z-index: 300;
}


.showing {

    animation-name: slideshow_kf;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    opacity: 100%;
    z-index: 350;
}


@keyframes slideshow_kf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}


.waiting {
    opacity: 0;
    z-index: 0;
}





@media screen and (min-width: 960px) {



    #main_nav_container {
        background-color: #2c2c2c;
        position: fixed;
        top: 0;
        z-index: 1000;
        width: 100vw;

    }

    .section_wrapper {
        position: relative;
        top: 5vw;
        margin: 5vw;
    }


    #hf_wrapper {
        background-color: #01866B;
        padding: 3vw 10vw;
    }


    #hf_container {
        background-color: #84E3C8;
        padding: 3vw 12vw;
    }







    #hf_image_container {
        padding: 0.1vw 0vw 32vw 0vw;
        margin-bottom: 3vw;
        background-color: #01866B;

    }


    #hf_image_container figure {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #slide_left {
        position: static;
    }


    #slide_right {
        position: static;

    }



    #slide_left img {
        position: absolute;
        width: 38.78%;
    }


    #slide_right img {
        position: absolute;
        width: 38.78%;
    }





    #insta {
        position: relative;
        padding: 0vw 9vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
