/*hovedregler for side*/


header {

    background-color: #2c2c2c;
}

p {
    text-align: center;
}


main {
    position: absolute;
    top: 55.5vw;
    padding-top: 1vw;
    background-color: #2c2c2c;
    z-index: 100;
}


#tema1_container {
    padding-top: 2vw;
    border-top: solid 1px grey;

}

#tema2_container {
    padding-top: 2vw;
}

#tema3_container {
    padding-top: 2vw;
}

#tema4_container {
    padding-top: 2vw;
}




#ide_opgave {

    background-color: #EB9F9F;
}


#html_opgave {
    background-color: #92DDE5;
}



#prototype_opgave,
#pilot_opgave {
    background-color: #84E3C8;
}


#pitch_opgave,
#redesign_opgave {
    background-color: #F4DBD2;
}

#asset_opgave {
    background-color: #EBB5C9;
}

#spil_opgave {
    background-color: #92DDE5;
}




@media screen and (min-width: 600px) {


    /*    MAIN CONTENT STYLING    */


    .text_area {
        padding: 3vw;
    }



    #main_content_container img {
        width: 960px;
    }

    #main_content_container {
        display: block;
    }



    #html_opgave {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    #ide_opgave {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #EB9F9F;
    }


    #prototype_opgave {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #84E3C8;
    }

    #pitch_opgave {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #F4DBD2;
    }

    #asset_opgave {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #EBB5C9;
    }


    #spil_opgave {

        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }


    #pilot_opgave {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



    #redesign_opgave {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



}
