* {

    margin: 0;
    /*
    overflow: hidden;
    scroll-behavior: none;*/
}

img {
    /*    position: absolute;*/
    max-width: 100%;
}


#back {
    position: absolute;
}

#head {
    position: absolute;
    transform-origin: top left;
    transform: translate(0vw, -56vw);
    width: 100 %;
    z-index: 10;
    pointer-events: none;
}

#nav_splash {
    display: inline;
    position: relative;
    top: -60vw;
}

a {
    font-size: 2vw;
    color: white;
    position: relative;
    max-width: 100%;
    text-decoration: none;
}


#menu1_container {
    position: relative;

    background-color: #01866B;
    padding-left: 64vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    top: 7vw;
}

#menu1 {
    z-index: 15;
    font-size: 4vw;
    color: white;
}

#menu2_container {
    position: relative;
    background-color: #CA4272;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;

    top: 11vw;
}


#menu2 {
    left: 78.5vw;
    z-index: 5;
}

#menu2:hover {
    z-index: 15;
    left: 0;
    background-color: #CA4272;
    padding-left: 78.5vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border-bottom: solid 1px #CA4272;
    border-top: solid 1px #CA4272;
}

#menu3_container {
    position: relative;

    background-color: #1A9BB8;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;

    top: 15vw;
}

#menu3 {
    left: 80vw;
    z-index: 5;
}

#menu3:hover {
    z-index: 15;
    left: 0;
    background-color: #1A9BB8;
    padding-left: 80vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border-bottom: solid 1px #1A9BB8;
    border-top: solid 1px #1A9BB8;

}

#menu4_container {
    position: relative;
    background-color: #EEA383;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    top: 19vw;
}

#menu4 {
    left: 78.5vw;
    z-index: 5;
}

#menu4:hover {
    z-index: 15;
    left: 0;
    background-color: #EEA383;
    padding-left: 78.5vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border-bottom: solid 1px #EEA383;
    border-top: solid 1px #EEA383;
}

#menu5_container {
    position: relative;
    background-color: #F3514C;
    color: #F3514C;
    padding-top: 2.8vw;
    padding-bottom: 2.7vw;
    top: 23vw;
    z-index: 15;
}
