img {
    /*    position: absolute;*/
    max-width: 100%;
}


#back {
    position: absolute;
}

#head {
    position: absolute;
    transform-origin: top left;
    transform: translate(0vw, -55.9vw);
    width: 100%;
    z-index: 10;
    pointer-events: none;
}

#nav_splash {
    display: inline;
    position: relative;
    top: -60vw;
}

#menu1_container {
    position: relative;
    z-index: 15;
    background-color: #01866B;
    padding-left: 64vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    top: 8.5vw;
}

#menu1 {
    color: white;
    font-family: 'Coda', cursive;
    font-weight: 800;
    font-size: 4vw;
    color: white;
}

#menu2_container {
    position: relative;
    background-color: #CA4272;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    top: 12.5vw;
}


#menu2 {
    color: white;
    position: relative;
    left: 80vw;
    z-index: 5;
}

#menu2:hover {
    z-index: 15;
    left: 0;
    background-color: #CA4272;
    padding-left: 80vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
}

#menu3_container {
    position: relative;
    background-color: #1A9BB8;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;

    top: 16.5vw;
}

#menu3 {
    color: white;
    position: relative;
    left: 80vw;
    z-index: 5;
}

#menu3:hover {
    z-index: 15;
    left: 0;
    background-color: #1A9BB8;
    padding-left: 80vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;

}

#menu4_container {
    position: relative;
    background-color: #EEA383;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    top: 20.5vw;
}

#menu4 {
    color: white;
    position: relative;
    left: 78.8vw;
    z-index: 5;
}

#menu4:hover {
    z-index: 15;
    left: 0;
    background-color: #EEA383;
    padding-left: 78.8vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
}

#menu5_container {
    position: relative;
    background-color: #F3514C;
    color: #F3514C;
    padding-top: 2.6vw;
    padding-bottom: 2.6vw;
    top: 24.5vw;
    z-index: 15;
}
